.unit {
  font-size: 18px;
  color: #cadefc;
}
.unit .active {
  color: #cadefc;
  text-decoration: none;
}
.unit .active:hover {
  cursor: default;
}
.current-icon {
  max-width: 100px;
  margin-left: -40px;
  margin-top: -20px;
}
.current-temp {
  margin-left: -15px;
}
.currentTemperature a {
  color: #c3bef0;
}
.Weather {
  max-width: 600px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  padding: 50px;
  margin: 30px auto;
}
.time-date {
  text-align: right;
  position: relative;
  top: 30px;
  color: #cadefc;
  font-size: 15px;
}
.search-engine {
  padding-bottom: 10px;
  margin-top: -20px;
}
.weather-variables {
  font-size: 10px;
  max-width: 260px;
  color: #cadefc;
}
.upcoming-days {
  text-align: center;
  color: #cadefc;
  font-size: 10px;
  margin-bottom: 5px;
}
.next-five-days {
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  padding: 20px;
}
.WeatherForecast-days {
  color: #c3bef0;
  font-size: 12px;
}
.WeatherForecast-temperatures {
  color: #cadefc;
  font-size: 10px;
}
.WeatherForecast-icons {
  max-width: 5px;
}
.warnings {
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
  color: red;
}
